<!DOCTYPE html>
<html>
<head>
<title> Student Signup Form</title>
</head>
<body>
<div>
<!--<form action=”/student” method=”post”>-->
<form id="form_id_student" method="post" name="addStudentForm">
<h1> Signup form </h1>
<input type=”text” name=”firstName” id=”firstName”
placeholder=”First Name” required /><br>
<input type=”text” name=”lastName” id=”lastName”
       placeholder=”Last Name” required /><br>
<input type="date" name="dob" id="dob" 
       placeholder="Date of Birth" required /><br>
<input type=”text” name="rollnumber" id="rollNumber"
       placeholder=”Roll Number “ required/><br>
<input type=”password” name=”password”
       id=”password” placeholder=”Password “ required/><br><br><input type=”submit” id=”submitDetails”
       name=”submitDetails” value=”Submit” /><br>
</form>
</div>
</body>
</html>